.history-container {
  width: 1440px;
  height: 1080px;
  position: relative;
}

@media (max-width:500px) {
  .history-container {
    display: block;
    width: 320px;
    height: 568px;
    position: relative;
    padding: 20px;
  }
}