.history-container {
  width: 1440px;
  height: 1080px;
  position: relative;
}

.grid-container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid rgba(66, 86, 122, 0.1);  
  width: 100%;
  height: 100%;
}

.grid-item {
  border: 1px solid rgba(66, 86, 122, 0.1);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.history-title {
  display: flex;
  width: 443px;
  height: 134px;
  font-weight: 700;
  font-size: 56px;
  position: absolute;
  padding-left: 90px;
  color: #42567A;
  box-sizing: border-box;
  margin: 0;
}

.history-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(#3877EE, #EF5DA8);
  z-index: -1;
  border-radius: inherit;
}

.circle-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-menu {
  position: relative;
  border: 1px solid rgba(66, 86, 122, 0.2);
  border-radius: 50%;
  width: 530px;
  height: 530px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: all 1s ease;
}

.circle-item {
  position: absolute;
  width: 50%;
  height: 50%;
  padding: 0;
  margin: 0;
}

.buttonTitle {
  width: 6px;
  height: 6px;
  padding: 0;
  margin: 75px;
  border-radius: 50%;
  font-size: 0;
  border: none;
  background-color: #42567A;
  opacity: 1;
  cursor: pointer;
}

.buttonTitle.active {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  margin: 55px;
  border: 1px solid #42567A;
  background-color: #F4F5F9;
  transform: scale(1);
  font-size: medium;
  transition: all 0.5s ease;
}

.circle-info .buttonTitle.active {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.circle-item-title {
  margin-left: 50px;
  overflow: hidden;
}

.circle-item-title.active {
  margin-left: 50px;
  overflow: visible;
  transition: all 1s ease;
}
.history-pages-button {
  display: grid;
  grid-template-columns: 1fr;
  width: 120px;
  height: 88px;
  margin-left: 100px;
  position: absolute;
}
.buttons {
  display: flex;
}
.pages-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(66, 86, 122, 0.5);
  color: #42567A;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  margin: 0 10px;
  position: relative;
}
.pages-button:active {
  color:rgba(66, 86, 122, 0.5);
}

.button-prev::before,
.button-next::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.button-prev::before {
  content: '';
  width: 9px;
  height: 9px;
  border-left: 2px solid #42567A;
  border-top: 2px solid #42567A;
  transform: rotate(-45deg);
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform-origin: 50% 50%; 
  transform: translate(-50%, -50%) rotate(-45deg); 
}

.button-next::before {
  content: '';
  width: 9px;
  height: 9px;
  border-right: 2px solid #42567A;
  border-bottom: 2px solid #42567A;
  transform: rotate(45deg);
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotate(-45deg); 
}

.pages {
  font-size: 18px;
  color: #333;
}

/* .history-box {
  position: absolute;
  bottom: 0;
  margin-left: 100px;
} */
/* .history-period { 
  width: 1000px;
  height: 160px;
  font-weight: 700;
  font-size: 200px;
  line-height: 160px;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 100px;
}
.year-begin {
  color: #3877EE;
  }
.year-end {
  color: #EF5DA8;
} */
/* .history-date-list {
  list-style: none;
  padding: 0;
  display: flex;
}
.history-event {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 125px;
}
.history-year {
  width: 41px;
  height: 30px;
  font-size: 25px;
  font-weight: 400;
  color: rgba(56, 119, 238, 1);
}
.history-year-description {
  font-size: 20px;
  font-weight: 400;
  color: rgba(66, 86, 122, 1);
} */