.history-container {
  width: 1440px;
  height: 1080px;
  position: relative;
}

.grid-container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #42567A;
  opacity: 0.1;
  width: 100%;
  height: 100%;
}

.grid-item {
  border: 1px solid rgba(66, 86, 122, 0.1);
  width: 100%;
  height: 100%;
}

.history-title {
  display: flex;
  width: 443px;
  height: 134px;
  font-weight: 700;
  font-size: 56px;
  position: relative;
  padding-left: 90px;
  top: 170px;
  color: #42567A;
  box-sizing: border-box;
  /* background-color: ; */
}

.history-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(#3877EE, #EF5DA8);
  z-index: -1;
  border-radius: inherit;
}

.circle-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-menu {
  position: relative;
  border: 1px solid rgba(66, 86, 122, 0.2);
  border-radius: 50%;
  width: 530px;
  height: 530px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: all 1s ease;
}

.circle-item {
  position: absolute;
  width: 50%;
  height: 50%;
  padding: 0;
  margin: 0;
  /* border: 1px solid #42567A; */
}

.buttonTitle {
  width: 6px;
  height: 6px;
  padding: 0;
  margin: 75px;
  border-radius: 50%;
  font-size: 0;
  border: none;
  background-color: #42567A;
  opacity: 1;
  cursor: pointer;
}

.buttonTitle.active {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  margin: 55px;
  border: 1px solid #42567A;
  background-color: white;
  transform: scale(1);
  font-size: medium;
  transition: all 0.5s ease;
}

/* .circle-info {
  overflow: hidden;
} */

.circle-info .buttonTitle.active {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.circle-item-title {
  margin-left: 50px;
  overflow: hidden;
}

.circle-item-title.active {
  margin-left: 50px;
  overflow: visible;
  transition: all 1s ease;
}
